.cardRow {
  display: grid;
  grid-template-columns: repeat(3, 32%);
  justify-content: space-between;
}

.link {
  text-decoration: none;
  color: initial;
}

h2 {
  margin: 0;
}

.link:hover {
  color: lightcoral;
}

.button {
  background-color: white;
  border: 1px solid black;
  border-radius: 3px;
  width: 100px;
  height: 40px;
}

.button:hover {
  border: 1px solid lightcoral;
  color: lightcoral;
}
